.c_1 {
  background-image: url(..//img/background.2jpg.jpg);
  padding-bottom: 19rem; }

h3, strong, a {
  color: white;
  cursor: pointer; }

#my {
  /*color: #28A745;*/
  color: yellow; }

#ij {
  color: white;
  margin-top: 15rem; }

#fd {
  color: yellow; }

#fd + p {
  color: white;
  padding-top: 1rem; }

.c_2 {
  padding: 8rem 0rem 10rem 5rem; }

#ramka {
  width: 450px;
  height: 450px;
  position: relative;
  border: 1rem solid #454E5B; }
  #ramka img {
    position: absolute;
    width: 108%;
    height: 108%;
    left: 2rem;
    top: 2rem; }

#aboute {
  transform: translateY(9rem); }
  #aboute b {
    color: #022144; }
  #aboute p {
    margin-top: 3rem; }

#m_b {
  display: flex;
  padding-top: 1rem; }
  #m_b button {
    color: white;
    padding: 0.5rem 1rem; }
  #m_b button:nth-child(2) {
    margin-left: 4rem; }

html {
  scroll-behavior: smooth; }

#skills {
  margin: 10rem 0rem 7rem 0rem; }
  #skills h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  #skills .y_1 {
    position: absolute;
    color: #FCD012;
    background-color: #FCD012;
    width: 100px;
    height: 3px;
    bottom: -7px; }
  #skills .y_2 {
    position: absolute;
    color: #FCD012;
    background-color: #FCD012;
    width: 64px;
    height: 3px;
    bottom: -13px; }
  #skills p {
    text-align: center;
    padding: 3rem; }
  #skills .progress {
    margin-bottom: 2rem; }

#ability {
  background-color: #454545;
  padding: 4rem 0rem; }
  #ability .menyu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; }
    #ability .menyu img {
      width: 70px;
      height: 70px;
      color: white;
      background-color: white;
      border-radius: 50%;
      margin-bottom: 0.5rem;
      cursor: pointer; }
    #ability .menyu img:hover {
      transform: scale(1.2); }
    #ability .menyu h2, #ability .menyu h4 {
      color: white;
      line-height: 2rem;
      cursor: pointer; }
    #ability .menyu h4:hover {
      transform: scale(1.2); }
    #ability .menyu h2:hover {
      transform: scale(1.2); }

#reviews {
  margin: 5rem 0rem 9rem 0rem; }
  #reviews .box {
    box-shadow: 1px 1px 10px #ccc;
    padding: 2rem 1.5rem;
    width: 345px;
    height: 224px; }
  #reviews h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3rem; }
  #reviews .c_r {
    display: flex; }
    #reviews .c_r img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 1rem; }
    #reviews .c_r p {
      opacity: 0.5;
      line-height: 5px; }

#portfolios {
  margin: 10rem 0rem 7rem 0rem; }
  #portfolios .box_2 {
    padding: 1rem; }
    #portfolios .box_2 img {
      width: 350px;
      height: 300px;
      cursor: pointer; }
    #portfolios .box_2 img:hover {
      transform: scale(1.1);
      transition: all 0.2s linear; }
  #portfolios h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  #portfolios .y_1 {
    position: absolute;
    color: #FCD012;
    background-color: #FCD012;
    width: 100px;
    height: 3px;
    bottom: -7px; }
  #portfolios .y_2 {
    position: absolute;
    color: #FCD012;
    background-color: #FCD012;
    width: 64px;
    height: 3px;
    bottom: -13px; }
  #portfolios p {
    text-align: center;
    padding: 3rem;
    margin-bottom: 12rem; }

#contact {
  margin-top: 12rem; }
  #contact h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  #contact .y_1 {
    position: absolute;
    color: #FCD012;
    background-color: #FCD012;
    width: 100px;
    height: 3px;
    bottom: -7px; }
  #contact .y_2 {
    position: absolute;
    color: #FCD012;
    background-color: #FCD012;
    width: 64px;
    height: 3px;
    bottom: -13px; }
  #contact #gjb {
    text-align: center;
    padding: 3rem; }
  #contact .inbox {
    margin-bottom: 2rem; }
    #contact .inbox img {
      width: 30px;
      height: 30px;
      padding: 2px 6px 0px 0px;
      transform: translateY(-5px);
      cursor: pointer; }
    #contact .inbox span {
      color: #002247;
      cursor: pointer; }
    #contact .inbox p {
      opacity: 0.5;
      padding-left: 1rem;
      cursor: pointer; }
  #contact .inbox_3 {
    display: flex; }
    #contact .inbox_3 input:nth-child(1) {
      margin-right: 1rem; }
  #contact .inbox_4 {
    margin-top: 2.5rem; }
  #contact h4 {
    margin-bottom: 4rem; }
  #contact .box_6 {
    margin-top: 4rem; }
  #contact .inbox_5 {
    margin: 3rem 0rem 3rem 0rem; }

/*# sourceMappingURL=main.css.map */
